<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <title>Tangent.io</title>
  </head>
  <body>
    <div class="col-sm-3 col-sm-offset-4 frame">
            <ul>
              <div class="text text-r" style="background:whitesmoke !important">
              <li style="width:100%">
                <div class="msj macro">
                  <div class="avatar"><img class="img-circle" style="width:100%;" src="https://thumbs.dreamstime.com/z/happy-man-perfect-white-smile-thumb-up-isolated-background-40905445.jpg" /> </div>
                    <div class="text text-1">
                      <p>Blah blah blah hello world what's up? :)</p>
                      <p><small>10/10/10 10:28 PM</small></p>
                    </div>
                </div>
              </li>
            </ul>
            <div>
                <div class="msj-rta macro" style="margin:auto">
                        <input class="mytext" placeholder="Type a message"/>
                    </div>
                </div>
          </div>
      </div>
  </body>
</html>
